
<nav class="navbar navbar-light dcss">
<ul class="nav grey lighten-4 ">
        <!-- <li class="nav-item">
            <a class="nav-link "   [routerLink]="['das']">Home</a>
        </li> -->
        <li class="nav-item active">
            <a class="nav-link"  [routerLink]="['weather-forecast']" routerLinkActive="active">Weather</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['dropdown']">Dropdown</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['customers']">Customers</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link active" [routerLink]="['progressbar']">ProgressBar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['registration']">Registration</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link active"  (click)="Logout()">Logout</a>
        </li> -->
       
        
    </ul>
    <nav class="pull-right" >
       
          
            <a data-toggle="collapse" href="javascript:void(0)" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" style="color: #dc5a0b  !important">
                <span>
                    <i class="fa fa-user prefix white-text active" >  </i> 
                </span> {{username}} 
            </a>
       
       
    </nav>
  </nav>
  <div id="collapseExample" [ngbCollapse]="isCollapsed" >
    <div class="card userProfileDiv">
      <div class="card-body">
      <li >
          <a  href="javascript:void(0)" (click)="Navigate() " >
           <span>
            <img src="assets/Images/boy.png" *ngIf="gender=='Male'"  height="24px" width="24px">
            <img src="assets/Images/girl.png" *ngIf="gender=='Female'"   height="24px" width="24px">
           </span>  View Profile 
          </a>
          
      </li>
      <li class="nav-item" style="margin-left: -12px;">
        <a class="nav-link active"  (click)="Logout()">
           <span>
                <img src="assets/Images/logout.png"  height="24px" width="24px"> 
           </span> 
            
            Logout</a>
    </li>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>
    