a{color: hsl(0, 62%, 50%)  !important;}
.pull-right {
    float: right;
  }
  .dcss{background: url(https://stage.agility.com/TrackingGO2UAT/image/theme/bg-header.gif) no-repeat !important;
  }
  li{
    list-style-type:none
  }