<div class="light-font">

           
  <nav class="navbar navbar-light dcss">
    <ul class="nav grey lighten-4 ">
          <li class="nav-item"><a class="nav-link active" [routerLink]="['upload-image']">Upload Image</a></li>
      <li class="nav-item"><a class="nav-link active" [routerLink]="['']">Master data<datalist></datalist></a></li>
      <li class="nav-item"><a class="nav-link active" [routerLink]="['']">Master data</a></li>
      <li class="nav-item"><a class="nav-link active" (click)="Logout()">Log out</a></li>
    
    </ul>
    </nav>

</div>

<router-outlet></router-outlet>