<app-header></app-header>
<!-- <table class="table table-sm table-hover">
    <thead>
      <th>CustomerID</th>  
      <th>CompanyName</th>
      <th>ContactName</th>
      <th>Title</th>
    </thead>
   
    <tr *ngFor="let employee of customer">
      <td>{{employee.CustomerID}} </td>
      {{employee.CompanyName}}
      <td> {{employee.CompanyName}}</td>
      <td>{{employee.ContactName}}</td>
      <td>{{employee.Title}}</td>
    </tr>
  </table> -->

 
    <!-- {{parsedata.authenticated}} -->
